
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
/* fonte Onest */

*{
    margin: 0px;
}

body{
    font-family:  "Onest",Arial, Helvetica, sans-serif;
}

.caixa{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3b0d61;
}

.telefone{
    display: none;
}




@media screen and (min-width: 300px) and (max-width: 420px){
    .caixa{
        display: none;
    }

    .telefone{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        background-color: #080808;
        padding-bottom: 50px;
    }

    #roxoInicio{
        width: 100%;
        height: 80px;
        background-color: #711983;
        display: flex;
        align-items: end;
        justify-content: space-between;

    }

    #imagemInicio{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #ffffff36;
        margin-bottom: 10px;
        margin-left: 15px;
        color: #ffffff;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #iconesInicio{
        display: flex;
        width: fit-content;
        height: 50px;
        margin-bottom: 10px;
        margin-right: 15px;

    }

    .icone{
        scale: 0.8;
        width: 50px;
        height: 100%;
        border-radius: 100%;
        background-color: #ffffff27;
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* Fim do estilo -> roxoInicio */

    #saldo{
        width: 100%;
        height: 100px;
    }


    #texto_seta{
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
        margin-left: 25px;
        margin-right: 20px;
        margin-top: 15px;
    }

    #close{
        width: 100px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .point{
        width: 10px;
        height: 10px;
        background-color: #ffffff;
        border-radius: 100%;
        margin-left: 3px;
    }

    #open{
        width: 100px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }
    #open p{
        margin-top: 5px;
        margin-left: 51px;
        font-size: 1.2rem;
        width: 100px;
    }

    /* Fim do estilo -> saldo */

    .funcoes{
        width: 100vw;
        height: 120px;
        display: flex;
        border: 1px solid red;
        overflow-x: auto ;
    }

    .funcoes::-webkit-scrollbar{
        width: 0px;
    }


    .circle{
        min-width: 70px;
        max-height: 70px;
        border-radius: 50%;
        background-color: #313030b9;
        margin-left: 8px;
    }
    /* Fim do estilo -> funções */


    #cartao{
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #iconeCartao{
        width: 60px;
        height: 60px;
        border-radius: 10px 0px 0px 10px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
    }

    #objects{
        display: flex;
        align-items: center;
        color: #ffffff;
        background-color: #313030b9;
        width: 90%;
        height: 50px;
        border-radius: 10px;
    }

    #objects-bottom{
        width: 90%;
        height: 80px;
        margin-top: 20px;
        border-radius: 10px;
        background-color: #313030b9;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mensagem {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #mensagem div:nth-of-type(1){
        width: 70%; 
        height: 42; 
        color: #ffffff;
    }
    .circuloMensagem{
        width: 42px;
        height: 42px;
        border-radius: 25px;
        background-image: linear-gradient(to left, #3b0d61, #711983);
    }
    

    .linha{
       width: 100%;
       height: 2px;
       background-color: #313030b9;
    }

    /* Fim de esstilo -> cartão */

    #fatura{
        width: 100%;
        height: 200px;
    }

    .titulo-seta{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .titulo-seta div{
        font-size: 1.2rem;
        color: #ffffff;
        margin-left: 25px;
        margin-right: 20px;
        margin-top: 20px;
    }

    #tituloFatura-saldo{
        width: 100%;
        height: 150px;
    }
    #tituloFatura-saldo #linha1{
        font-size: 1.1rem;
        color: #ffffff;
        margin-top: 10px;
    }
    #tituloFatura-saldo #linha2{
        font-size: 1rem;
        color: #ffffff;
        margin-top: 6px;
    }
    #tituloFatura-saldo #linha3{
        font-size: 1rem;
        color: #7c7979b9;
        margin-top: 10px;

    }
    #tituloFatura-saldo div{
        margin-left: 25px;
        margin-right: 20px;
    }
    /* Fim do estilo -> fatura */

    .Emprestimo-Planejamento{
        width: 100%;
        height: 150px;
        /* border: 1px solid red; */
    }

    .Valor-Acompanhamento{
        font-size: 1rem;
        color: #7c7979b9;
        margin-left: 25px;
        margin-right: 20px;
    }
    /* Fim do estilo -> emprestimo-planejamento */

    #descubraMais{
        width: 100%;
        height: 300px;
        /* border: 1px solid red; */
    }

    #titulo-descubraMais{
        font-size: 1.2rem;
        color: #ffffff;
        margin-left: 25px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .blocos{
        width: 70%;
        height: 250px;
        border-radius: 10px;
        background-color: #313030b9;
        margin-top: 15px;
        margin-left: 25px;
    }

    .imagemBlocos{
        width: 100%;
        height: 40%;
        border-radius: 10px 10px 0px 0px;
        background-color: #ffffff;
    }

    .textoBlocos p:nth-of-type(1){
        color: #ffffff;
        font-size: 1.1rem;
        margin-left: 10px;
        margin-top: 10px;
    }

    .textoBlocos p:nth-of-type(2){
        color: #7c7979b9;
        font-size: 0.9rem;
        margin-left: 10px;
        margin-top: 10px;
    }

    .startButton{
        width: 120px;
        padding: 6px;
        font-size: 1rem;
        border-radius: 25px;
        /* border: 1px solid red; */
        background-color: #3b0d61;
        color: #ffffff;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
    }
}